<!DOCTYPE html>
<html>
  <head>
    <title>Tray Dennis</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
      <a href="index.html"><li>home</li></a>
      <a href="articles.html"><li>articles</li></a>
      <a href="https://github.com/travonted"><li>github</li></a>
    </nav>
    <section class="article-list">
      <% @list.each do |item| %>
        <a href="<%= item[:link] %>"><%= item[:title] %></a>
      <% end %>
    </section>
  </body>
</html>

