<!DOCTYPE html>
<html>
  <head>
    <title>Tray Dennis</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
      <a href="index.html"><li>Travonte D.</li></a>
      <a href="index.html"><li>home</li></a>
      <a href="articles.html"><li>articles</li></a>
      <a href="https://github.com/travonted"><li>github</li></a>
    </nav>
    <section class="article-list">
      <h3 class="article-list_title">Articles:</h3>
      <ul>
      <% @list.each do |item| %>
        <li class="article-list_item">
          <a href="<%= item[:link] %>"><%= item[:title] %></a>
        </li>
      <% end %>
      </ul>
    </section>
  </body>
</html>

