<!DOCTYPE html>
<html>
  <head>
    <title>Tray Dennis</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
      <a href="index.html"><li>Travonte D.</li></a>
      <a href="index.html"><li>home</li></a>
      <a href="articles.html"><li>articles</li></a>
      <a href="https://github.com/travonted"><li>github</li></a>
    </nav>
    <h2>Hi, I'm Tray! Welcome to My Site!</h2>
    <section class="bio">
      <h4>Here's a little about me:</h4>
      <p>I'm 25 and I'm from Pensacola, FL. I moved to the Atlanta area when I was twelve and have been here ever since.</p>
      <p>These days I'm a software developer (and have been for about 3 years now) and as a professional in the industry there are a few things that I've grown to especially value:</p>
      <dl>
        <dt>Communication and Collaboration:</dt>
        <dd>I truly believe that wherever I work, everyone there is intelligent and has value that they add to the team and to the company as a whole and I do my best to show them the proper respect.</dd>

        <dt>Being a Skilled Software Developer:</dt>
        <dd>I don't consider myself a "<insert language> developer". I believe that programming languages are just one of the tools of my craft, and that my responsibilities as a developer lie in making sure that good code ships.</dd>

        <dt>An Eagerness to Learn:</dt>
        <dd>From books to blogs, there is a wealth of knowledge available on the various technologies within my industry, and I enjoy studying those resources.</dd>

        <dt>Good ol' fashioned Hard Work:</dt>
        <dd>nothing to explain here...</dd>
      </dl>
    </section>
    <section class="article-list">
      <h3 class="article-list_title">Take a look at a few Articles:</h3>
      <ul>
      <% @list.each do |item| %>
        <li class="article-list_item">
          <a href="<%= item[:link] %>"><%= item[:title] %></a>
        </li>
      <% end %>
      </ul>
    </section>
  </body>
</html>

