* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    width: 80%;
    max-width: 800px;
    margin: auto;
}
body, a {
    background-color: #fff;
    color: #404040;
}

nav {
    text-align: center;
    border-bottom: solid #EAEAEA 2px;
    margin-bottom: 20px;
    a {
        li {
            display: inline-block;
            padding: 20px;
            &:hover {
                background-color: #404040;
                color: #FFF;
            }
        }
    }
}

.article {
    header {
        margin-bottom: 20px;
        .title {
            text-align: center;
        }
    }
    h2, p {
        margin-bottom: 10px;
    }
    .sourceCode {
        background-color: #f9f5d7;
    }
}

.article-list {
    &_title {
        margin-bottom: 10px;
    }
    &_item {
        list-style: none;
        margin-bottom: 10px;
    }
}

.bio {
    margin: 20px auto;
    p {
        margin: 10px auto;
    }
    dt {
        margin: 10px auto;
    }
}
