* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    width: 80%;
    max-width: 800px;
    margin: auto;
}
body, a {
    background-color: #fbf1c7;
    color: #3c3836;
}

nav {
    border-bottom: solid #3c3836 2px;
    margin-bottom: 20px;
    a {
        &:first-child {
            li {
                padding-left: 0px;
            }
        }
        li {
            display: inline-block;
            padding: 20px;
            &:hover {
                color: #fbf1c7;
                background-color: #3c3836;
            }
        }
    }
}

.article {
    header {
        margin-bottom: 20px;
        .title {
            text-align: center;
        }
    }
    h2, p {
        margin-bottom: 10px;
    }
    .sourceCode {
        background-color: #f9f5d7;
    }
}

.article-list {
    li {
        list-style: none;
        margin-bottom: 10px;
    }
}

.bio {
    margin: 20px auto;
}
