---
import Layout from "../layouts/Layout.astro";
import Books from "../components/Books.astro";

const posts = await Astro.glob("../pages/blog/*.md");
---

<Layout title="Tray Dennis aka Work++">
  <main>
		<section class="hero bg-base-200 min-h-screen">
			<div class="hero-content text-center">
				<div class="max-w-md">
					<h1 class="text-3xl font-bold">Tray Dennis</h1>
					<div class="flex justify-center py-4">
						<img src="headshot.jpg" class="rounded" width="200px"/>
					</div>
					<p class="py-6">Senior Software Engineer @ <a class="link" href="https://www.doximity.com" rel="external">Doximity</a> <br /> Co-Founder of <a class="link" href="https://www.grantboost.io" rel="external">Grantboost AI</a> <br />Indie Hacker</p>
				</div>
			</div>
		</section>
  </main>
</Layout>
